<h1>All Weights</h1>

<%= for [h | t] = weight <- @weights do %>
  <h3>
    <%= h.quote.body %>
  </h3>
  <%= for w <- weight do %>
    <div class="dib">
      <p class="blue">
        <%= w.service.title %>
      </p>
      <%= link to: weight_path(@conn, :edit, w), class: "red f5 no-underline" do %>
        <%= w.weight %>
      <% end %>
    </div>
  <% end %>

<% end %>
