<%= render What3things.AdminView, "back.html", conn: @conn %>

<h1 class="tc">Services</h1>

<ul>
  <%= for service <- @services do %>
  <li>
    <%= service.title %>
    <%= link to: service_path(@conn, :edit, service) do %>
      <p>Edit</p>
    <% end %>
  </li>
  <% end %>
</ul>
