<%= render What3things.AdminView, "back.html", conn: @conn %>

<h1 class="tc">Services</h1>

<ul>
  <%= for service <- order_services(@services) do %>
    <li>
      <div class="">
        <%= service.title %> -- <%= link "Edit", to: service_path(@conn, :edit, service) %>
      </div>
    </li>
  <% end %>
</ul>
