body {
  margin: 0;
  font-family: var(--sans-serif);
}

.w6 {
  width: var(--width-6);
}

.w7 {
  width: var(--width-7);
}

.ba-thick {
  border-style: solid;
  border-width: 0.6rem;
}

.t3 {
  transition-duration: 0.8s;
}

.ease {
  transition-timing-function: ease;
}

.all {
  transition-property: all;
}

.disabled {
  pointer-events: none;
}

.delay-2 {
  transition-delay: 2s;
}
