body {
  margin: 0;
  font-family: var(--sans-serif);
}

.bg-green-blue {
  background-color: var(--green-blue);
}

.b--green-blue {
  border-color: var(--green-blue);
}

.ba2 {
  border-style: solid;
  border-width: 2px;
}

.handwriting {
  font-family: var(--handwriting);
}

.handwriting-title {
  font-family: var(--title);
}

.w6 {
  width: var(--width-6);
}

.w7 {
  width: var(--width-7);
}

.ba-thick {
  border-style: solid;
  border-width: 0.6rem;
}

.t3 {
  transition-duration: 0.8s;
}

.ease {
  transition-timing-function: ease;
}

.all {
  transition-property: all;
}

.disabled {
  pointer-events: none;
}

.delay-2 {
  transition-delay: 2s;
}
