html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: var(--sans-serif);
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

h1 {
  font-weight: 400;
  letter-spacing: 0.4px;
}

/* fonts */

.handwriting {
  font-family: var(--handwriting);
  font-weight: 400;
}

.handwriting-title {
  font-family: var(--title);
}


/* colors */

.bg-green-blue {
  background-color: var(--green-blue);
}

.b--green-blue {
  border-color: var(--green-blue);
}


/* borders */

.ba2 {
  border-style: solid;
  border-width: 2px;
}

.ba-thick {
  border-style: solid;
  border-width: 0.6rem;
}


/* widths */

.w6 {
  width: var(--width-6);
}

.w7 {
  width: var(--width-7);
}

/* heights */

.mh-v100 {
  min-height: 100vh;
}


/* flex */

.flex-1 {
  flex: 1;
}


/* transitions */

.t3 {
  transition-duration: 0.8s;
}

.ease {
  transition-timing-function: ease;
}

.all {
  transition-property: all;
}

.delay-2 {
  transition-delay: 2s;
}


/* general */

.touch-disabled {
  pointer-events: none;
}

.no-select {
  user-select: none;
}

/* text */

.word-wrap {
  word-wrap: break-word;
}
