.quote-header {
  padding: 2.5rem 0 10rem;
}

.quote-header-background {
  top: -19rem;
  left: -1rem;
  transform: rotateZ(11deg);
  width: 400px;
  height: 750px;
}

@media (--breakpoint-not-small) {
  .quote-header {
    padding: 3rem 0 10rem;
  }

  .quote-header-background {
    top: -18rem;
    left: 0rem;
  }
}

@media (--breakpoint-large) {
  .quote-header-background {
    left: 0;
  }
}
